.sp_XdnhEYLDp0G{background-image:url(/rsrc.php/v3/y-/r/pW0-hvVA5-u.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_XdnhEYLDp0G.sx_040e81{background-position:0 0}.sp_XdnhEYLDp0G.sx_92d348{background-position:0 -17px}

#bootloader_Ix7Et{height:42px;}.bootloader_Ix7Et{display:block!important;}